{% extends 'base_template.html' %}
{% load socialaccount %}

{% load account %}

{% block content %}
    <div class="panel panel-login">
        <div class="panel-heading">
            <hr>
        </div>
        <div class="panel-body forms">
            {% if request.user.is_authenticated %}
                <div class="card" style="width: 20rem;">
                    <div class="card-block" style="text-align: center">
                        <h4 class="card-title">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                                <img style="display: block; margin: 0 auto;"
                                     src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                                     width="100" height="100"/>
                            {% endif %}
                            Hi,
                            {% if request.user.first_name or request.user.last_name %}
                                {{ user.getprovider }}
                                {{ request.user.first_name }} {{ request.user.last_name }}
                            {% else %}
                                {{ request.user.username }}
                            {% endif %}</h4>

                        <p class="card-text">Success!!!</p>
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Sign Out</button>
                        </form>
                    </div>
                </div>



            {% else %}
                <a href="{% provider_login_url 'google' %}">Login With Google</a>
            {% endif %}
        </div>
    </div>







{% endblock %}
